<div class="summary-section" style="direction: rtl;" >
  <div class="summary-right" >
    <img src="assets/avatar.png" alt="User Avatar" class="profile-icon" />
    <div class="profile-section">
        <span class="span-profile1">تم الإنشاء بواسطة</span>
        <span class="span-profile2">عبدالرحيم إسماعيل ناصف</span>
    </div>
</div>

  <div class="summary-left">
    <div class="profile-section">
        <span class="span-profile1">تاريخ الإنشاء</span>
        <span class="span-profile2">01/12/2024 <span class="span-profile3">●</span> 04:30 م</span>
    </div>
</div>


</div>